<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th scope="col">Full Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Location</th>
        <th>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Click here to add users
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="allUsers.length < 1">
        <td colspan="3">No users available</td>
      </tr>
      <tr *ngFor="let user of allUsers; even as isEven; index as i" [class.is-even]="isEven">
        <td>{{i + 1}}</td>
        <td [routerLink]="[user.userId]">{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.location }}</td>
        <td>
          <button type="button" class="btn btn-warning" (click)="editUserButton(user)" data-bs-toggle="modal"
          data-bs-target="#secondStaticBackdrop">
            Edit Post
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteUser(user)">
            Delete Post
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Add Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Users</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
        <div class="modal-body">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingNameInput" name="name" placeholder="Your Name"
              formControlName="name" />
            <label for="floatingNameInput">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingAgeInput" name="age" placeholder="Your age" formControlName="age" />
            <label for="floatingAgeInput">Age</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingEmailInput" name="email" placeholder="name@example.com"
              formControlName="email" />
            <label for="floatingEmailInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPasswordInput" name="password"
              placeholder="Password" formControlName="password" />
            <label for="floatingPasswordInput">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingLocationInput" name="location" placeholder="Location"
              formControlName="location" />
            <label for="floatingLocationInput">Location</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-warning" data-bs-dismiss="modal" [disabled]="addUserForm.status !== 'VALID'">
            Add User
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="secondStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="editUserForm" (ngSubmit)="saveEditChanges()">
        <div class="modal-body d-flex flex-column">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingNameInput" name="name" placeholder="Your Name"
              formControlName="name" />
            <label for="floatingNameInput">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingAgeInput" name="age" placeholder="Your age" formControlName="age" />
            <label for="floatingAgeInput">Age</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingEmailInput" name="email" placeholder="name@example.com"
              formControlName="email" />
            <label for="floatingEmailInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPasswordInput" name="password"
              placeholder="Password" formControlName="password" />
            <label for="floatingPasswordInput">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingLocationInput" name="location" placeholder="Location"
              formControlName="location" />
            <label for="floatingLocationInput">Location</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info" value="addProduct" data-bs-dismiss="modal" [disabled]="editUserForm.status !== 'VALID'">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
