<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-warning mx-auto">
    <div class="container-fluid">
      <a class="navbar-brand text-center text-dark" href="#">Innovatek</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link text-dark" routerLink="/form">Form</a>
          <a class="nav-link text-dark" routerLink="/users">Users</a>
          <a class="nav-link text-dark" routerLink="/post">Post</a>
        </div>
        <div class="navbar-nav ms-auto">
          <div>
            <a href="https://github.com/flavioalibeaj" target="_blank" class="nav-link text-light">
              <i class="fab fa-github"></i>
              Github
            </a>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/flavio-alibeaj" target="_blank" class="nav-link text-light">
              <i class="fab fa-linkedin"></i>
              Linkedin
            </a>
          </div>
        </div>
      </div>
    </div>
</nav>
