<div
  class="container-fluid my-5 d-flex justify-content-center align-items-center"
>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Dummy Card</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam
            atque hic libero officia aliquam dignissimos minus, aspernatur nulla
            neque earum doloremque dicta, quam consectetur unde magni? Delectus
            quas qui possimus!
          </p>
          <a href="https://www.google.com/" class="btn btn-primary"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Dummy Card</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos,
            aliquid voluptas ex animi natus eius, expedita ducimus ipsum dicta
            unde nulla beatae dolore. Fugiat saepe reprehenderit laborum
            consequatur officia sapiente.
          </p>
          <a href="https://www.youtube.com/" class="btn btn-primary"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Dummy Card</h5>
          <p class="card-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est
            repellendus quasi placeat, distinctio quisquam alias, amet quas
            blanditiis dolore fugit quo rem veniam cupiditate quaerat, nulla
            enim? Quia, repellendus perferendis.
          </p>
          <a href="https://angular.io/" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
