<div class="container d-flex align-items-center" style="width: 25rem;">

<form #userData="ngForm" (ngSubmit)="login(userData.value)">
  <div class="form-group">
    <label for="exampleUsername">Username</label>
    <input ngModel name="username" type="text" class="form-control" id="exampleUsername" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input ngModel name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <input type="submit" [value]="inputValue"/>

</form>

</div>
