.container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
