<div class="container-fluid mt-3">
  <form [formGroup]="reactiveForm" (ngSubmit)="showData()">
    <div formGroupName="personalDetails">
      <div class="mb-3">
        <label for="exampleInputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleInputName" value="name" formControlName="name" />
      </div>
      <div class="mb-3">
        <label for="exampleInputSurname" class="form-label">Surname</label>
        <input type="text" class="form-control" id="exampleInputSurname" value="surname" formControlName="surname" />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" value="email" formControlName="email"
          aria-describedby="emailHelp" />
      </div>
    </div>
    <div formGroupName="extraInformation">
      <div class="mb-3">
        <label for="exampleInputAge" class="form-label">Age</label>
        <input type="number" class="form-control" id="exampleInputAge" value="age" formControlName="age" />
      </div>
      <div class="mb-3">
        <label for="exampleInputCountry" class="form-label">Country</label>
        <input type="number" class="form-control" id="exampleInputCountry" value="country" formControlName="country" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" value="password" formControlName="password"
          id="exampleInputPassword1" />
      </div>
      <!-- <div formArrayName="skills">
        <ng-container *ngFor="let skill of reactiveForm.get('extraInformation.skills')">
          <div class="mb-3">
            <label for="exampleInputSkills" class="form-label">Skills</label>
            <input type="text" class="form-control" formControlName="skills"
              id="exampleInputSkills" />
          </div>
        </ng-container>
      </div> -->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <ng-container *ngIf="formIsSubmitted && reactiveForm.status === 'INVALID'">You need to complete all fields
    correctly</ng-container>
</div>
