<!-- Form  -->
<div class="container-fluid my-5">
    <form #userForm="ngForm" (ngSubmit)="showData(userForm.value)">
        <div class="mb-3">
          <label for="exampleInputName" class="form-label">Full name</label>
          <input type="text" class="form-control" id="exampleInputName" name="name" ngModel>
        </div>
        <div class="mb-3">
          <label for="exampleInputAge" class="form-label">Age</label>
          <input type="number" class="form-control" id="exampleInputAge" name="age" ngModel>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" ngModel aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" ngModel name="pass" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div *ngIf="submitted">
      <p>Name: {{formData.name}}</p>
      <p>Age: {{formData.age}}</p>
      <p>Email: {{formData.email}}</p>
      <p>Password: {{formData.pass}}</p>
    </div>
</div>
