<!-- Sidebar -->
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="https://github.com/flavioalibeaj" target="_blank" class="nav-link text-white">
          <i class="fab fa-github"></i>
          Github
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/flavio-alibeaj" target="_blank" class="nav-link text-white">
          <i class="fab fa-linkedin"></i>
          Linkedin
        </a>
      </li>
    </ul>
</div>
