<!-- Sidebar -->
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link text-white">Home</a>
      </li>
      <li>
        <a routerLink="/about" class="nav-link text-white">About</a>
      </li>
      <li>
        <a routerLink="/projects" class="nav-link text-white">Projects</a>
      </li>
    </ul>
    <ul class="nav nav-pills flex-column mb-5">
      <li class="nav-item">
        <a href="https://github.com/flavioalibeaj" target="_blank" class="nav-link text-white">
          <i class="fab fa-github"></i>
          Github
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/flavio-alibeaj" target="_blank" class="nav-link text-white">
          <i class="fab fa-linkedin"></i>
          Linkedin
        </a>
      </li>
    </ul>
</div>
